<section class="data-source-group data-source-group--<%= section[:key] %>">
  <h2><%= section[:title] %></h2>

  <div class="data-source-group__table-wrapper">
    <table class="collapsible data-source-group__table">
      <thead>
        <tr>
          <% section[:headers].each do |header| %>
            <th><%= header %></th>
          <% end %>
          <th class="options">
            <span class="sr-only"><%= I18n.t('common.actions.settings') %></span>
          </th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: section[:row_partial], collection: section[:rows], as: :data_source, locals: { workspace:, stats: } %>
      </tbody>
    </table>
  </div>
</section>
