<aside data-controller="resizeable-page">
  <div class="data-source-panel__header">
    <h3><%= data_source.display_name %></h3>
    <%= link_to "[#{I18n.t('common.actions.close')}]", add_params(data_source_id: nil, tab: nil, confirm_delete: nil), class: "link secondary" %>
  </div>

  <div class="tabs">
    <% if data_source.capture_source? %>
      <%= render "shared/tabs/nav_item", tab: "source_url", name: I18n.t('app.workspaces.data_sources.management.fields.tracking_url'), icon_class: "ri-global-line", default_selected: true %>
      <%= render "shared/tabs/nav_item", tab: "tracking_code", name: I18n.t('app.workspaces.data_sources.management.tracking_code_title'), icon_class: "ri-fire-line" %>
    <% else %>
      <%= render "shared/tabs/nav_item", tab: "settings", name: I18n.t('common.actions.settings'), icon_class: "ri-settings-3-line", default_selected: true %>
    <% end %>
    <%= render "shared/tabs/nav_item", tab: "source_deletion", name: I18n.t('app.workspaces.data_sources.management.deletion_title'), icon_class: "ri-delete-bin-line" %>
  </div>

  <% if data_source.capture_source? && active_tab?(tab: "source_url", default_selected: true) %>
    <div data-controller="form">
      <%= form_with url: app_workspace_data_source_path(workspace, data_source), method: :put, class: "update-data-source-form", html: { "data-form-target": "form" } do |form| %>
        <%= form.label :url, I18n.t('app.workspaces.data_sources.management.fields.tracking_url'), class: "label block" %>
        <%= form.text_field :url, type: "url", placeholder: "https://", class: "input block fluid", required: true, pattern: "https://.*", value: data_source.url %>

        <%= render "shared/flash" %>

        <%= form.submit I18n.t('common.actions.save_changes'), class: "link primary", "data-form-target": "submit" %>
      <% end %>
    </div>
  <% end %>

  <% if data_source.capture_source? && active_tab?(tab: "tracking_code") %>
    <%= render "shared/tracking_code", data_source: data_source %>
  <% end %>

  <% if data_source.external_database? && active_tab?(tab: "settings", default_selected: true) %>
    <div class="data-source-management">
      <dl class="data-source-management__list">
        <div>
          <dt><%= I18n.t('app.workspaces.data_sources.new.fields.name') %></dt>
          <dd><%= data_source.display_name %></dd>
        </div>
        <div>
          <dt><%= I18n.t('app.workspaces.data_sources.management.fields.type') %></dt>
          <dd><%= data_source_index_type_label(data_source) %></dd>
        </div>
      </dl>

      <h3><%= I18n.t('app.workspaces.data_sources.management.connection_title') %></h3>
      <dl class="data-source-management__list">
        <div>
          <dt><%= I18n.t('app.workspaces.data_sources.management.fields.host') %></dt>
          <dd><%= data_source.host %></dd>
        </div>
        <div>
          <dt><%= I18n.t('app.workspaces.data_sources.management.fields.port') %></dt>
          <dd><%= data_source.port %></dd>
        </div>
        <div>
          <dt><%= I18n.t('app.workspaces.data_sources.management.fields.server_database_name') %></dt>
          <dd><%= data_source.database_name %></dd>
        </div>
        <div>
          <dt><%= I18n.t('app.workspaces.data_sources.management.fields.username') %></dt>
          <dd><%= data_source.username %></dd>
        </div>
        <div>
          <dt><%= I18n.t('app.workspaces.data_sources.management.fields.ssl_mode') %></dt>
          <dd><%= data_source.ssl_mode %></dd>
        </div>
      </dl>

      <h3><%= I18n.t('app.workspaces.data_sources.management.selected_tables_title') %></h3>
      <% if data_source.selected_tables.any? %>
        <ul class="gray-250">
          <% data_source.selected_tables.each do |table_name| %>
            <li><%= table_name %></li>
          <% end %>
        </ul>
      <% else %>
        <p class="gray-250">-</p>
      <% end %>
    </div>
  <% end %>

  <% if active_tab?(tab: "source_deletion") %>
    <p class="cream-250"><b><%= I18n.t('app.workspaces.data_sources.management.deletion_intro') %></b></p>
    <ul class="gray-250">
      <li><%= I18n.t('app.workspaces.data_sources.management.deletion_points.one') %></li>
      <li><%= I18n.t('app.workspaces.data_sources.management.deletion_points.two') %></li>
      <li>
        <%= data_source.capture_source? ?
              I18n.t('app.workspaces.data_sources.management.deletion_points.three_capture', name: data_source.display_name) :
              I18n.t('app.workspaces.data_sources.management.deletion_points.three_external') %>
      </li>
    </ul>

    <% if params[:confirm_delete] %>
      <div class="message">
        <i class="ri-error-warning-line ri-lg red-500"></i>
        <div class="body">
          <p class="title cream-250"><b><%= I18n.t('app.workspaces.data_sources.management.deletion_confirm_title') %></b></p>
          <p><%= I18n.t('app.workspaces.data_sources.management.deletion_confirm_body') %></p>
          <div class="actions">
            <%= link_to I18n.t('app.workspaces.data_sources.management.actions.delete'), app_workspace_data_source_path(workspace, data_source), class: "link primary", data: { turbo_method: :delete }, "aria-label": I18n.t('app.workspaces.data_sources.management.aria.confirm_delete') %>
            <%= link_to I18n.t('common.actions.cancel'), add_params(confirm_delete: nil), class: "link secondary", "aria-label": I18n.t('app.workspaces.data_sources.management.aria.cancel_delete') %>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to I18n.t('app.workspaces.data_sources.management.actions.delete'), add_params(confirm_delete: 1), class: "link primary", "aria-label": I18n.t('app.workspaces.data_sources.management.aria.delete') %>
    <% end %>
  <% end %>

  <%= render "shared/grab_handle" %>
</aside>
