<section class="data-source-wizard__step">
  <p class="label block"><%= t('app.workspaces.data_sources.new.steps.source_type.label') %></p>

  <div class="data-source-wizard__options">
    <% wizard_source_type_options(selected_source_type: (wizard_state || {})['source_type']).each do |option| %>
      <label class="data-source-type-option radio <%= 'data-source-type-option--coming-soon' if option[:coming_soon] %>">
        <span class="data-source-type-option__control">
          <%= radio_button_tag :source_type, option[:value], option[:selected], disabled: option[:disabled] %>
          <span class="check" aria-hidden="true">
            <span></span>
          </span>
        </span>

        <span class="data-source-type-option__content">
          <span class="data-source-type-option__title">
            <%= option[:label] %>
            <% if option[:coming_soon] %>
              <span class="data-source-type-option__coming-soon">(<%= t('app.workspaces.data_sources.new.coming_soon') %>)</span>
            <% end %>
          </span>
        </span>
      </label>
    <% end %>
  </div>

  <div class="data-source-wizard__actions">
    <%= link_to I18n.t('common.actions.cancel'), app_workspace_data_sources_path(workspace), class: "link secondary" %>
    <%= link_to t('app.workspaces.data_sources.new.actions.next'), new_app_workspace_data_source_path(workspace, step: 2), class: "link primary" %>
  </div>
</section>
