<main>
  <div class="page-header">
    <h1>Data Sources</h1>
    <%= link_to new_app_workspace_data_source_path(@workspace), class: "link secondary create-data-source", "data-shortcut": "N", "aria-label": "Create new datasource" do %>
      <i class="ri-add-line red-500"></i>
      <span>Create New</span>
    <% end %>
  </div>

  <div class="data-sources container lg">
    <%= render "shared/data_source_card", workspace: @workspace, data_source: @data_source %>
  </div>
</main>

<aside data-controller="resizeable-page">
  <div class="tabs">
    <%= render "shared/tabs/nav_item", tab: "source_url", name: "Source URL", icon_class: "ri-global-line", default_selected: true %>
    <%= render "shared/tabs/nav_item", tab: "tracking_code", name: "Tracking Code", icon_class: "ri-fire-line" %>
    <%= render "shared/tabs/nav_item", tab: "source_deletion", name: "Source Deletion", icon_class: "ri-delete-bin-line" %>
  </div>

  <% if active_tab?(tab: "source_url", default_selected: true) %>
    <div data-controller="form">
      <%= form_with url: app_workspace_data_source_path(@workspace, @data_source), method: :put, class: "update-data-source-form", html: { "data-form-target": "form" } do |form| %>
        <%= form.label :url, "URL", class: "label block" %>
        <%= form.text_field :url, type: "url", placeholder: "https://", class: "input block fluid", required: true, pattern: "https://.*", value: @data_source.url %>

        <%= render "shared/flash" %>

        <%= form.submit "[Save Changes]", class: "link primary", "data-form-target": "submit" %>
      <% end %> 
    </div>
  <% end %>

  <% if active_tab?(tab: "tracking_code") %>
    <%= render "shared/tracking_code", data_source: @data_source %>
  <% end %>

  <% if active_tab?(tab: "source_deletion") %>
    <p class="cream-250"><b>You can delete your site at any time:</b></p>
    <ul class="gray-250">
      <li>The data source will be deleted immediately for all users in your workspace.</li>
      <li>Deleting your data source will not delete your sqlbook workspace or user account.</li>
      <li>All data captured from <%= @data_source.url %> will be permanently deleted. To restore your data source you would need to re-add it to sqlbook.</li>
    </ul>

    <% if params[:confirm_delete] %>
      <div class="message">
        <i class="ri-error-warning-line ri-lg red-500"></i>
        <div class="body">
          <p class="title cream-250"><b>Are you sure you wish to delete your data source</b></p>
          <p>If so, all data will be deleted permanently.</p>
          <div class="actions">
            <%= link_to "[Delete Data Source]", app_workspace_data_source_path(@workspace, @data_source), class: "link primary", data: { turbo_method: :delete }, "aria-label": "Confirm deletion of datasource" %>
            <%= link_to "Cancel", add_params(confirm_delete: nil), class: "link secondary", "aria-label": "Cancel deleting the datasource" %>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to "[Delete Data Source]", add_params(confirm_delete: 1), class: "link primary", "aria-label": "Delete datasource" %>
    <% end %>
  <% end %>

  <%= render "shared/grab_handle" %>
</aside>
