<main>
  <h1>Sign up</h1>

  <div class="container md" data-controller="form">
    <%= form_with url: new_auth_signup_path, method: :get, class: "signup-form", html: { "data-form-target": "form" } do |form| %>
      <%= form.label :first_name, "First name", class: "label block" %>
      <%= form.text_field :first_name, class: "input block fluid", autocomplete: "given-name", placeholder: "e.g. Jess", required: true %>

      <%= form.label :last_name, "Last name", class: "label block" %>
      <%= form.text_field :last_name, class: "input block fluid", autocomplete: "family-name", placeholder: "e.g. Smith", required: true %>

      <%= form.label :email, "Email", class: "label block" %>
      <%= form.email_field :email, class: "input block fluid", autocomplete: "email", placeholder: "email@example.com", required: true %>

      <%= render "shared/flash" %>

      <%= form.label :accept_terms, class: "checkbox" do %>
        <%= form.check_box :accept_terms, required: true %>
        <div class="check">
          <i class="ri-check-line"></i>
        </div>
        I have read and accept the <%= link_to "Terms Of Service", "#", class: "link secondary", "aria-label": "View the sqlbook terms of service" %>.
      <% end %>

      <div class="submit">
        <%= form.submit "[Continue]", class: "link primary", "data-form-target": "submit" %>
      </div>
    <% end %>
  </div>
</main>
