<main>
  <div class="container md-lg">
    <%= form_with url: app_data_sources_path, method: :get, html: { "data-controller": "data-source-select" } do |form| %>
      <div class="data-sources-select">
        <%= form.label :data_source_id, class: "label" do %>
          <i class="ri-lg ri-database-2-line"></i>
          Data source
        <% end %>
        <div class="select">
          <%= form.select :data_source_id, options_from_collection_for_select(@data_sources, :id, :url, selected: params[:data_source_id]), {}, { "data-action": "data-source-select#change" } %>
          <i class="ri-arrow-drop-down-line"></i>
        </div>
        <%= link_to "#", class: "link secondary" do %>
          <i class="ri-settings-3-line"></i>
        <% end %>
        <%= link_to "#", class: "link secondary" do %>
          <i class="ri-node-tree"></i>
        <% end %>
      </div>
    <% end %>

    <div data-controller="data-source-query">
      <%= form_with url: app_data_sources_path, method: :get, class: "query-form", html: { "data-data-source-query-target": "form" } do |form| %>
        <%= form.hidden_field :data_source_id, value: params[:data_source_id] %>
        <%= form.text_area :query, placeholder: "Start typing your query, or type '/' to browse the query library...", required: true, rows: 1, "data-action": "data-source-query#change" %>
        <%= form.submit "Press CMD+Enter to run...", class: "link secondary submit", "data-data-source-query-target": "submit" %>
      <% end %>
    </div>
  </div>
</main>
