<main>
  <h1>Welcome to sqlbook</h1>
  <div class="container lg">
    <% if verifying? %>
      <div data-controller="data-source-verification">
        <% if verification_failed? %>
          <p class="verification-failed"><i class="ri-lg ri-error-warning-line"></i> We were unable to verify your installation.</p>
          <p>Please ensure you&apos;ve correctly copied the code opposite into the &lt;head&gt; section of your sites HTML and that you&apos;ve published the changes.</p>
          <p>Providing you&apos;ve successfully completed the step above, we will automatically verify your installation the moment your website&apos;s first session data is captured. You can speed-up auto-verification by visiting your site yourself.</p>
          <p>If you&apos;re stuck, please contact us via <a href="mailto:support@sqlbook.com" class="link secondary">support@sqlbook.com</a></p>
          <%= link_to "[Verify Installation]", add_params(verification_attempt: 0), class: "link primary text-large" %>
        <% else %>
          <p>Verifying installation...</p>
        <% end %>
      </div>
    <% else %>
      <p>Awesome, please add the tracking code opposite to the &lt;head&gt; section of the HTML of <%= @data_source.url %>.
      <p>When you&apos;ve added the code and published the changes <%= link_to "[Press 1]", add_params(verifying: 'true'), { class: "link primary" } %></p>
    <% end %>
  </div>
</main>
<aside data-controller="resizeable-page">
  <div class="tabs">
    <%= render "shared/tabs/nav_item", tab: "tracking_code", name: "Tracking Code", icon_class: "ri-fire-line", default_selected: true %>
    <%= render "shared/tabs/nav_item", tab: "learn_more", name: "Learn More", icon_class: "ri-information-line" %>
  </div>

  <% if active_tab?(tab: "tracking_code", default_selected: true) %>
    <%= render "shared/tracking_code", data_source: @data_source %>
  <% end %>

  <% if active_tab?(tab: "learn_more") %>
    <p>The <span>sql_book</span> tracking code is a small piece of JavaScript that you add to any pages of your site that you wish to capture analytics data on.</p>
    <p>Our code is <span>privacy-friendly</span> and <span>cookieless</span>, meaning you won&apos;t need to bug your visitors with consent or cookie banners unless you plan to capture their personal data.</p>
    <p>Not only that, but <span>our script is fully</span> <%= link_to "open source", "#", class: "link primary" %> under the GNU Affero General Public License Version 3 (AGPLv3) or any later version. This means you can review it yourself to ensure it meets your business requirements, contribute improvements for the community, or even fork it for use in your own projects, subject to the stated <%= link_to "licensing terms", "#", class: "link primary" %>.</p>

    <%= render "shared/github_link" %>
  <% end %>

  <%= render "shared/grab_handle" %>
</aside>
