<div class="config-group tooltips">
  <%= form.label "Display tooltips", class: "label block" %>
  <div class="inline">
    <div>
      <%= form.label :tooltips_enabled_1, class: "radio" do %>
        <%= form.radio_button :tooltips_enabled, 1, checked: @query.chart_config[:tooltips_enabled] %>
        <div class="check">
          <span></span>
        </div>
        Yes
      <% end %>
    </div>
    <div>
      <%= form.label :tooltips_enabled_0, class: "radio" do %>
        <%= form.radio_button :tooltips_enabled, 0, checked: !@query.chart_config[:tooltips_enabled] %>
        <div class="check">
          <span></span>
        </div>
        No
      <% end %>
    </div>
  </div>
</div>
