<main>
  <div class="page-header">
    <div class="title">
      <h1><%= I18n.t('app.workspaces.index.title') %></h1>
      <%= link_to new_app_workspace_path, class: "link secondary create-workspace", "data-shortcut": "N", "aria-label": "Create a new workspace" do %>
        <i class="ri-add-line red-500"></i>
        <span><%= I18n.t('common.actions.create_new') %></span>
      <% end %>
    </div>
    <div class="controls" data-controller="search" data-search-min-chars-value="2">
      <%= form_with url: app_workspaces_path, method: :get, html: { "data-search-target": "form" } do |form| %>
        <%= form.text_field :search,
                            type: "search",
                            placeholder: I18n.t('app.workspaces.index.search_placeholder'),
                            value: params[:search],
                            class: "input block search",
                            "data-search-target": "input",
                            "data-action": "input->search#queueSearch focus->search#rememberFocus blur->search#rememberBlur" %>
      <% end %>
    </div>
  </div>

  <%= render "shared/flash" %>

  <% if @workspaces.any? %>
    <div class="workspaces container lg" data-controller="cards">
      <% @workspaces.each do |workspace| %>
        <%= render "shared/workspace_card", workspace: %>
      <% end %>
    </div>
  <% elsif params[:search].present? %>
    <p><%= I18n.t('app.workspaces.index.search_empty') %></p>
  <% end %>
</main>
