<div class="chart-config">
  <div class="heading">
    <h4 class="cream-250"><%= chart_label(chart_type: @query.chart_type) %></h4>

    <%= form_with url: app_workspace_data_source_query_path(@workspace, @data_source, @query), method: :put do |form| %>
      <%= form.hidden_field :chart_type, value: '' %>
      <%= button_tag type: "submit", class: "link secondary" do %>
        <i class="ri-lg ri-delete-bin-line red-500"></i>
        <span>Discard</span>
      <% end %>
    <% end %>
  </div>

  <div data-controller="chart-config">
    <%= form_with url: chart_config_app_workspace_data_source_query_path(@workspace, @data_source, @query), method: :put, html: { "data-chart-config-target": "form" } do |form| %>
      <div class="preview">
        <%= render "shared/chart", chart_config: @query.chart_config, query_result: @query.query_result %>
      </div>

      <%= render "shared/accordion", label: "Data" do %>
        <p>X-Axis</p>

        <div class="split">
          <div>
            <%= form.label :x_axis_key, "Data", class: "label block" %>
            <div class="select">
              <%= form.select :x_axis_key, options_for_select(@query.query_result.columns, @query.chart_config[:x_axis_key]), {} %>
              <i class="ri-arrow-drop-down-line"></i>
            </div>
          </div>
          <div>
            <%= form.label :x_axis_label, "Label", class: "label block" %>
            <%= form.text_field :x_axis_label, class: "input block fluid", value: @query.chart_config[:x_axis_label] %>
          </div>
        </div>

        <%= form.label "Show", class: "label block" %>
        <div class="inline">
          <div>
            <%= form.label :x_axis_label_enabled, class: "checkbox" do %>
              <%= form.check_box :x_axis_label_enabled, checked: @query.chart_config[:x_axis_label_enabled] %>
              <div class="check">
                <i class="ri-check-line"></i>
              </div>
              Label
            <% end %>
          </div>
          <div>
            <%= form.label :x_axis_gridlines_enabled, class: "checkbox" do %>
              <%= form.check_box :x_axis_gridlines_enabled, checked: @query.chart_config[:x_axis_gridlines_enabled] %>
              <div class="check">
                <i class="ri-check-line"></i>
              </div>
              Gridlines
            <% end %>
          </div>
        </div>

        <div class="divider spacing-top"></div>

        <p class="spacing-top">Y-Axis</p>

        <div class="split">
          <div>
            <%= form.label :y_axis_key, "Data", class: "label block" %>
            <div class="select">
              <%= form.select :y_axis_key, options_for_select(@query.query_result.columns, @query.chart_config[:y_axis_key]), {} %>
              <i class="ri-arrow-drop-down-line"></i>
            </div>
          </div>
          <div>
            <%= form.label :y_axis_label, "Label", class: "label block" %>
            <%= form.text_field :y_axis_label, class: "input block fluid", value: @query.chart_config[:y_axis_label] %>
          </div>
        </div>

        <%= form.label "Show", class: "label block" %>
        <div class="inline">
          <div>
            <%= form.label :y_axis_label_enabled, class: "checkbox" do %>
              <%= form.check_box :y_axis_label_enabled, checked: @query.chart_config[:y_axis_label_enabled] %>
              <div class="check">
                <i class="ri-check-line"></i>
              </div>
              Label
            <% end %>
          </div>
          <div>
            <%= form.label :y_axis_gridlines_enabled, class: "checkbox" do %>
              <%= form.check_box :y_axis_gridlines_enabled, checked: @query.chart_config[:y_axis_gridlines_enabled] %>
              <div class="check">
                <i class="ri-check-line"></i>
              </div>
              Gridlines
            <% end %>
          </div>
        </div>
      <% end %>

      <%= render "shared/accordion", label: "Appearance" do %>
        <div class="split">
          <div>
            <%= form.label :title, "Title", class: "label block" %>
            <%= form.text_field :title, class: "input block fluid", placeholder: "e.g. Visitor Count", value: @query.chart_config[:title] %>
          </div>
          <div>
            <%= form.label :subtitle, "Subtitle", class: "label block" %>
            <%= form.text_field :subtitle, class: "input block fluid", placeholder: "e.g. 6-month growth", value: @query.chart_config[:subtitle] %>
          </div>
        </div>

        <%= form.label "Show", class: "label block" %>
        <div class="inline">
          <div>
            <%= form.label :title_enabled, class: "checkbox" do %>
              <%= form.check_box :title_enabled, checked: @query.chart_config[:title_enabled] %>
              <div class="check">
                <i class="ri-check-line"></i>
              </div>
              Title
            <% end %>
          </div>
          <div>
            <%= form.label :subtitle_enabled, class: "checkbox" do %>
              <%= form.check_box :subtitle_enabled, checked: @query.chart_config[:subtitle_enabled] %>
              <div class="check">
                <i class="ri-check-line"></i>
              </div>
              Subtitle
            <% end %>
          </div>
        </div>

        <div class="divider spacing-top"></div>

        <%= form.label "Display legend", class: "label block spacing-top" %>
        <div class="inline">
          <div>
            <%= form.label :legend_enabled_1, class: "radio" do %>
              <%= form.radio_button :legend_enabled, 1, checked: @query.chart_config[:legend_enabled] %>
              <div class="check">
                <span></span>
              </div>
              Yes
            <% end %>
          </div>
          <div>
            <%= form.label :legend_enabled_0, class: "radio" do %>
              <%= form.radio_button :legend_enabled, 0, checked: !@query.chart_config[:legend_enabled] %>
              <div class="check">
                <span></span>
              </div>
              No
            <% end %>
          </div>
        </div>

        <%= form.label "Position", class: "label block spacing-top" %>
        <div class="inline">
          <div>
            <%= form.label :legend_position_top, class: "radio" do %>
              <%= form.radio_button :legend_position, 'top', checked: @query.chart_config[:legend_position] == 'top' %>
              <div class="check">
                <span></span>
              </div>
              Top
            <% end %>
          </div>
          <div>
            <%= form.label :legend_position_right, class: "radio" do %>
              <%= form.radio_button :legend_position, 'right', checked: @query.chart_config[:legend_position] == 'right' %>
              <div class="check">
                <span></span>
              </div>
              Right
            <% end %>
          </div>
          <div>
            <%= form.label :legend_position_bottom, class: "radio" do %>
              <%= form.radio_button :legend_position, 'bottom', checked: @query.chart_config[:legend_position] == 'bottom' %>
              <div class="check">
                <span></span>
              </div>
              Bottom
            <% end %>
          </div>
          <div>
            <%= form.label :legend_position_left, class: "radio" do %>
              <%= form.radio_button :legend_position, 'left', checked: @query.chart_config[:legend_position] == 'left' %>
              <div class="check">
                <span></span>
              </div>
              Left
            <% end %>
          </div>
        </div>

        <%= form.label "Alignment", class: "label block spacing-top" %>
        <div class="inline">
          <div>
            <%= form.label :legend_alignment_start, class: "radio" do %>
              <%= form.radio_button :legend_alignment, 'start', checked: @query.chart_config[:legend_alignment] == 'start' %>
              <div class="check">
                <span></span>
              </div>
              Left
            <% end %>
          </div>
          <div>
            <%= form.label :legend_alignment_center, class: "radio" do %>
              <%= form.radio_button :legend_alignment, 'center', checked: @query.chart_config[:legend_alignment] == 'center' %>
              <div class="check">
                <span></span>
              </div>
              Center
            <% end %>
          </div>
          <div>
            <%= form.label :legend_alignment_end, class: "radio" do %>
              <%= form.radio_button :legend_alignment, 'end', checked: @query.chart_config[:legend_alignment] == 'end' %>
              <div class="check">
                <span></span>
              </div>
              Right
            <% end %>
          </div>
        </div>

        <div class="divider spacing-top"></div>

        <%= form.label "Color array", class: "label block spacing-top" %>

        <div class="colors">
          <% @query.chart_config[:colors].each do |color| %>
            <%= form.hidden_field 'colors', value: color, multiple: true %>
            <div class="color" style="background: <%= color %>"></div>
          <% end %>
        </div>
      <% end %>

      <%= render "shared/accordion", label: "Other" do %>
        <%= form.label "Display tooltips", class: "label block" %>
        <div class="inline">
          <div>
            <%= form.label :tooltips_enabled_1, class: "radio" do %>
              <%= form.radio_button :tooltips_enabled, 1, checked: @query.chart_config[:tooltips_enabled] %>
              <div class="check">
                <span></span>
              </div>
              Yes
            <% end %>
          </div>
          <div>
            <%= form.label :tooltips_enabled_0, class: "radio" do %>
              <%= form.radio_button :tooltips_enabled, 0, checked: !@query.chart_config[:tooltips_enabled] %>
              <div class="check">
                <span></span>
              </div>
              No
            <% end %>
          </div>
        </div>

        <%= form.label "Allow zooming", class: "label block spacing-top" %>
        <div class="inline">
          <div>
            <%= form.label :zooming_enabled_1, class: "radio" do %>
              <%= form.radio_button :zooming_enabled, 1, checked: @query.chart_config[:zooming_enabled] %>
              <div class="check">
                <span></span>
              </div>
              Yes
            <% end %>
          </div>
          <div>
            <%= form.label :zooming_enabled_0, class: "radio" do %>
              <%= form.radio_button :zooming_enabled, 0, checked: !@query.chart_config[:zooming_enabled] %>
              <div class="check">
                <span></span>
              </div>
              No
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
