<div class="chart-config">
  <div class="heading">
    <h4 class="cream-250"><%= chart_label(chart_type: @query.chart_type) %></h4>

    <%= form_with url: app_workspace_data_source_query_path(@workspace, @data_source, @query), method: :put do |form| %>
      <%= form.hidden_field :chart_type, value: '' %>
      <%= button_tag type: "submit", class: "link secondary" do %>
        <i class="ri-lg ri-delete-bin-line red-500"></i>
        <span>Discard</span>
      <% end %>
    <% end %>
  </div>

  <div class="preview">
    <h4 class="title cream-250">Title</h4>
    <p class="subtitle gray-300">Subtitle text string</p>
    <div class="chart"></div>
  </div>

  <%= render "shared/accordion", label: "Data" do %>
    <p>Data</p>
  <% end %>

  <%= render "shared/accordion", label: "Appearance" do %>
    <p>Appearance</p>
  <% end %>

  <%= render "shared/accordion", label: "Other" do %>
    <p>Other</p>
  <% end %>
</div>
