<div class="chart-container">
  <% if query.chart_config[:title_enabled] %>
    <h4 class="title cream-250">
      <%= query.chart_config[:title] || 'Title' %>
    </h4>
  <% end %>

  <% if query.chart_config[:subtitle_enabled] %>
    <p class="subtitle gray-300">
      <%= query.chart_config[:subtitle] || 'Subtitle text string' %>
    </p>
  <% end %>

  <% if query.chart_type == 'total' %>
    <div class="chart total align-<%= query.chart_config[:post_text_label_position] %>">
      <h2 class="count red-500">
        <%= ActiveSupport::NumberHelper.number_to_delimited(query.query_result.data.first[query.chart_config[:data_column].to_s]) %>
      </h2>
      <% if query.chart_config[:post_text_label_enabled] %>
        <p class="gray-500 post-text-label">
          <%= query.chart_config[:post_text_label] %>
        </p>
      <% end %>
    </div>
  <% elsif query.chart_type == 'table' %>

  <% else %>
    <canvas
      id="chart"
      class="chart"
      data-controller="chart"
      data-chart-config-value="<%= query.chart_config.to_json %>"
      data-chart-result-value="<%= query.query_result.to_json %>"
    ></canvas>
  <% end %>
</div>
