<div class="chart-config">
  <div class="heading">
    <h4 class="cream-250"><%= chart_label(chart_type: @query.chart_type) %></h4>

    <%= form_with url: app_workspace_data_source_query_path(@workspace, @data_source, @query), method: :put do |form| %>
      <%= form.hidden_field :chart_type, value: '' %>
      <%= button_tag type: "submit", class: "link secondary" do %>
        <i class="ri-lg ri-delete-bin-line red-500"></i>
        <span>Discard</span>
      <% end %>
    <% end %>
  </div>

  <div data-controller="chart-config">
    <%= form_with url: chart_config_app_workspace_data_source_query_path(@workspace, @data_source, @query), method: :put, html: { "data-chart-config-target": "form" } do |form| %>
      <div class="preview">
        <%= render "shared/chart", query: @query %>
      </div>

      <%= render "shared/accordion", label: "Data" do %>
        <% config_partials_for(chart_type: @query.chart_type, group: :data).each do |partial| %>
          <%= render "shared/chart_config/#{partial}", form:, query: @query %>
        <% end %>
      <% end %>

      <%= render "shared/accordion", label: "Appearance" do %>
        <% config_partials_for(chart_type: @query.chart_type, group: :appearance).each do |partial| %>
          <%= render "shared/chart_config/#{partial}", form:, query: @query %>
        <% end %>
      <% end %>

      <%= render "shared/accordion", label: "Other" do %>
        <% config_partials_for(chart_type: @query.chart_type, group: :other).each do |partial| %>
          <%= render "shared/chart_config/#{partial}", form:, query: @query %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
