<div class="container md-lg data-source-query" data-controller="data-source-query">
  <%= form_with url: query_form_path(data_source: @data_source, query: @query), method: query_form_method(query: @query), html: { "data-data-source-query-target": "form" } do |form| %>
    <div class="data-sources-row source">
      <%= form.label :data_source_id, class: "label" do %>
        <i class="ri-lg ri-database-2-line"></i>
        Data source
      <% end %>
      <div class="select">
        <%= form.select :data_source_id, options_from_collection_for_select(@data_sources, :id, :url, selected: params[:data_source_id]), {}, { "data-action": "data-source-query#changeSource" } %>
        <i class="ri-arrow-drop-down-line"></i>
      </div>
      <%= link_to app_data_source_path(@data_source), class: "link secondary" do %>
        <i class="ri-settings-3-line"></i>
      <% end %>
      <button class="link secondary" type="button" data-action="data-source-query#toggleSchema">
        <i class="ri-node-tree"></i>
      </button>
    </div>

    <div class="data-sources-row schema hide" data-data-source-query-target="schema">
      <%= form.label :schema, class: "label" do %>
        <i class="ri-node-tree"></i>
        Table schema
      <% end %>
      <div class="select">
        <%= form.select :schema, options_from_collection_for_select(Event::ALL_EVENT_TYPES, :table_name, :nice_name, selected: Click.table_name), {}, { "data-action": "data-source-query#changeSchema" } %>
        <i class="ri-arrow-drop-down-line"></i>
      </div>
    </div>

    <div class="data-sources-row schema-table">
      <div class="scroll">
        <% Event::ALL_EVENT_TYPES.each do |event| %>
          <table class="schema-table-<%= event.table_name %> <%= "hide" unless event.table_name == Click.table_name %>">
            <tr>
              <th>name</th>
              <th>type</th>
              <th>default_type</th>
            </tr>
            <% event.columns.each do |col| %>
              <tr>
                <td><%= col.name %></td>
                <td><%= col.sql_type_metadata.sql_type %></td>
                <td><%= col.default %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>

    <div class="query-form">
      <%= form.text_area :query, placeholder: "Start typing your query, or type '/' to browse the query library...", required: true, rows: 1, "data-action": "data-source-query#change keydown.meta+enter->data-source-query#submit",  "data-data-source-query-target": "input", value: @query&.query %>
      <%= form.submit "Press CMD+Enter to run...", class: "link secondary submit", "data-data-source-query-target": "submit" %>
    </div>
  <% end %>
</div>
