<% if signed_in? %>
  <header class="header">
    <%= link_to app_workspaces_path do %>
      <%= image_tag "logo-dark.svg", height: 24, width: 108, alt: "Logo", class: "logo-dark" %>
      <%= image_tag "logo-light.svg", height: 24, width: 108, alt: "Logo", class: "logo-light" %>
    <% end %>

    <% if @workspace %>
      <menu data-controller="menu">
        <button class="link secondary toggle-menu" data-menu-target="button" data-action="menu#toggle">
          <i class="ri-menu-line"></i>
          <i class="ri-close-line"></i>
        </button>

        <div class="dropdown" data-menu-target="dropdown" data-action="keydown.esc->close" tabinde="0">
          <label class="text-small category">App</label>
          <%= link_to app_workspace_data_sources_path(@workspace), class: "link secondary menu-item" do %>
            <i class="ri-database-2-line"></i> Data Sources
          <% end %>
          <%= link_to app_workspace_queries_path(@workspace), class: "link secondary menu-item" do %>
            <i class="ri-book-open-line"></i> Query Library
          <% end %>
          <%= link_to "#", class: "link secondary menu-item" do %>
            <i class="ri-dashboard-line"></i> Dashboards
          <% end %>
          <label class="text-small category">Account</label>
          <%= link_to "#", class: "link secondary menu-item" do %>
            <i class="ri-settings-3-line"></i> Settings
          <% end %>
          <%= link_to auth_signout_index_path, class: "link secondary menu-item" do %>
            <i class="ri-logout-box-r-line"></i> Log out
          <% end %>
        </div>
      </menu>
    <% end %>
  </header>
<% else %>
  <header class="header split">
    <%= link_to root_path do %>
      <%= image_tag "logo-dark.svg", height: 24, width: 108, alt: "Logo", class: "logo-dark" %>
      <%= image_tag "logo-light.svg", height: 24, width: 108, alt: "Logo", class: "logo-light" %>
    <% end %>

    <menu>
      <% if signup_page? %>
        <p>Already have an account? <%= link_to "Log in", auth_login_index_path, class: "link secondary text-large" %>
      <% elsif login_page? %>
        <p>New to sqlbook? <%= link_to "[Sign up]", auth_signup_index_path, class: "link primary text-large", "data-shortcut": "S" %>
      <% else %>
        <%= link_to "[Sign up]", auth_signup_index_path, class: "link primary text-large", "data-shortcut": "S" %>
        <%= link_to "Log in", auth_login_index_path, class: "link secondary text-large" %>
      <% end %>
    </menu>
  </header>
<% end %>
