<div class="card workspace-card" data-action="click->cards#show">
  <div class="details">
    <h4><%= link_to workspace.name, app_workspace_path(workspace), class: "link secondary", "aria-label": "Visit the #{workspace.name} workspace" %></h4>
    <p class="owner gray-300">Owner: <%= workspace.owner&.full_name || "Unknown" %></p>

    <% if can_manage_workspace_settings?(workspace:) %>
      <div class="settings">
        <%= link_to app_workspace_settings_path(workspace), class: "link secondary", "aria-label": "View settings for the #{workspace.name} workspace" do %>
          <i class="ri-settings-3-line red-500"></i>
          <span>Settings</span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="stat data-sources">
    <p class="title gray-200">Data Sources</p>
    <h3 class="red-500">
      <%= workspace.data_sources.count %>
    </h3> 
    <p class="subtitle small">
      <%= link_to "View", app_workspace_data_sources_path(workspace), class: "link gray-200", "aria-label": "View datasources for the #{workspace.name} workspace" %>
    </p>
  </div>
  <div class="stat queries">
    <p class="title gray-200">Queries</p>
    <h3 class="red-500">
      <%= workspace.queries.count %>
    </h3>
    <p class="subtitle small">
      <%= link_to "View", app_workspace_queries_path(workspace), class: "link gray-200", "aria-label": "View queries for the #{workspace.name} workspace" %>
    </p>
  </div>
  <div class="stat dashboards">
    <p class="title gray-200">Dashboards</p>
    <h3 class="red-500">
      <%= workspace.dashboards.count %>
    </h3>
    <p class="subtitle small">
      <%= link_to "View", app_workspace_dashboards_path(workspace), class: "link gray-200", "aria-label": "View dashboards for the #{workspace.name} workspace" %>
    </p>
  </div>
  <div class="stat events">
    <p class="title gray-200">Events</p>
    <h3 class="red-500">
      <%= number_to_delimited(@workspaces_stats.monthly_events_for(workspace:)) %>
    </h3>
    <p class="subtitle small gray-500">
      / <%= number_to_delimited(@workspaces_stats.monthly_events_limit_for(workspace:)) %>
    </p>
  </div>
</div>
