<% creating_new_theme = selected_theme_reference == 'new' %>
<% read_only_theme = selected_theme_entry.read_only? && !creating_new_theme %>
<% editor_path = if read_only_theme
                   app_workspace_settings_path(workspace, tab: 'branding', theme: selected_theme_entry.reference_key)
                 elsif creating_new_theme
                   app_workspace_visualization_themes_path(workspace)
                 else
                   app_workspace_visualization_theme_path(workspace, theme_id: selected_theme_entry.id)
                 end %>
<% editor_method = creating_new_theme ? :post : :patch %>
<% preview_payloads = { dark: theme_preview_dark, light: theme_preview_light } %>
<% theme_payloads = { dark: selected_theme_entry.theme_json_dark, light: selected_theme_entry.theme_json_light } %>

<div class="workspace-branding__editor">
  <div class="workspace-branding__header">
    <h3 class="cream-250">
      <%= read_only_theme ? I18n.t('app.workspaces.settings.branding.editor.view_title', name: selected_theme_entry.name) : I18n.t('app.workspaces.settings.branding.editor.edit_title', name: selected_theme_entry.name) %>
    </h3>
  </div>

  <section class="workspace-branding__preview">
    <div class="workspace-branding__preview-header">
      <h4 class="cream-250"><%= I18n.t('app.workspaces.settings.branding.editor.preview_title') %></h4>
      <p class="gray-300"><%= I18n.t('app.workspaces.settings.branding.editor.preview_description') %></p>
    </div>

    <div class="workspace-branding__mode-grid">
      <% preview_payloads.each do |mode, preview_payload| %>
        <% next if preview_payload.blank? %>
        <% theme_json = theme_payloads.fetch(mode).to_h.deep_stringify_keys %>
        <div class="workspace-branding__mode-card">
          <h4 class="cream-250"><%= I18n.t("app.workspaces.settings.branding.editor.#{mode}_title") %></h4>

          <div class="workspace-branding__palette">
            <% preview_payload.fetch(:palette).each do |color| %>
              <span class="workspace-branding__swatch" style="background-color: <%= color %>;" title="<%= color %>"></span>
            <% end %>
          </div>

          <div class="workspace-branding__chart-grid">
            <% preview_payload.fetch(:charts).each do |chart_type, option| %>
              <article class="workspace-branding__chart-card">
                <p class="workspace-branding__chart-label">
                  <%= I18n.t(Visualizations::ChartRegistry.fetch(chart_type)[:label_key]) %>
                </p>
                <div
                  class="workspace-branding__chart-preview"
                  data-controller="echarts-visualization"
                  data-echarts-visualization-mode-value="<%= mode %>"
                  data-echarts-visualization-dark-option-value="<%= option.to_json %>"
                  data-echarts-visualization-light-option-value="<%= option.to_json %>"
                  data-echarts-visualization-dark-theme-value="<%= theme_json.to_json %>"
                  data-echarts-visualization-light-theme-value="<%= theme_json.to_json %>"></div>
              </article>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <% editor_fields = capture do %>
    <div class="split">
      <div>
        <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.name') %></label>
        <%= text_field_tag :name, creating_new_theme ? nil : selected_theme_entry.name, class: 'input block fluid', disabled: read_only_theme, required: true %>
      </div>
      <% unless read_only_theme %>
        <div>
          <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.default') %></label>
          <div class="select">
            <%= select_tag :default,
                           options_for_select([[I18n.t('common.states.no'), false], [I18n.t('common.states.yes'), true]], selected_theme_entry.default? || false) %>
            <i class="ri-arrow-drop-down-line"></i>
          </div>
        </div>
      <% end %>
    </div>

    <div class="workspace-branding__mode-grid">
      <% { dark: theme_editor_attributes_dark, light: theme_editor_attributes_light }.each do |mode, attributes| %>
        <div class="workspace-branding__mode-card">
          <h4 class="cream-250"><%= I18n.t("app.workspaces.settings.branding.editor.#{mode}_title") %></h4>
          <div class="split">
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.palette') %></label>
              <%= text_field_tag "editor_#{mode}[colors_csv]", attributes[:colors_csv], class: 'input block fluid', disabled: read_only_theme %>
            </div>
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.background_color') %></label>
              <%= text_field_tag "editor_#{mode}[background_color]", attributes[:background_color], class: 'input block fluid', disabled: read_only_theme %>
            </div>
          </div>
          <div class="split">
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.text_color') %></label>
              <%= text_field_tag "editor_#{mode}[text_color]", attributes[:text_color], class: 'input block fluid', disabled: read_only_theme %>
            </div>
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.legend_text_color') %></label>
              <%= text_field_tag "editor_#{mode}[legend_text_color]", attributes[:legend_text_color], class: 'input block fluid', disabled: read_only_theme %>
            </div>
          </div>
          <div class="split">
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.title_color') %></label>
              <%= text_field_tag "editor_#{mode}[title_color]", attributes[:title_color], class: 'input block fluid', disabled: read_only_theme %>
            </div>
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.subtitle_color') %></label>
              <%= text_field_tag "editor_#{mode}[subtitle_color]", attributes[:subtitle_color], class: 'input block fluid', disabled: read_only_theme %>
            </div>
          </div>
          <div class="split">
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.axis_line_color') %></label>
              <%= text_field_tag "editor_#{mode}[axis_line_color]", attributes[:axis_line_color], class: 'input block fluid', disabled: read_only_theme %>
            </div>
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.axis_label_color') %></label>
              <%= text_field_tag "editor_#{mode}[axis_label_color]", attributes[:axis_label_color], class: 'input block fluid', disabled: read_only_theme %>
            </div>
          </div>
          <div class="split">
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.split_line_color') %></label>
              <%= text_field_tag "editor_#{mode}[split_line_color]", attributes[:split_line_color], class: 'input block fluid', disabled: read_only_theme %>
            </div>
            <div>
              <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.tooltip_background_color') %></label>
              <%= text_field_tag "editor_#{mode}[tooltip_background_color]", attributes[:tooltip_background_color], class: 'input block fluid', disabled: read_only_theme %>
            </div>
          </div>
          <div>
            <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.tooltip_text_color') %></label>
            <%= text_field_tag "editor_#{mode}[tooltip_text_color]", attributes[:tooltip_text_color], class: 'input block fluid', disabled: read_only_theme %>
          </div>
          <label class="label block"><%= I18n.t('app.workspaces.settings.branding.editor.raw_json') %></label>
          <%= text_area_tag "raw_json_#{mode}", attributes[:raw_json], class: 'input block fluid workspace-branding__json', rows: 14, readonly: read_only_theme %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if read_only_theme %>
    <div class="workspace-branding__form">
      <%= editor_fields %>
      <div class="workspace-branding__actions">
        <%= button_to I18n.t('app.workspaces.settings.branding.actions.duplicate'),
                      app_duplicate_workspace_visualization_theme_path(workspace),
                      params: { reference: selected_theme_entry.reference_key },
                      method: :post,
                      class: 'link primary' %>
      </div>
    </div>
  <% else %>
    <%= form_with url: editor_path, method: editor_method, class: "workspace-branding__form" do %>
      <%= editor_fields %>
      <div class="workspace-branding__actions">
        <%= submit_tag I18n.t('common.actions.save_changes'), class: 'link primary' %>
      </div>
    <% end %>
  <% end %>
</div>
