<main>
  <h1>Log in</h1>

  <div class="container medium" data-controller="form">
    <%= form_with url: auth_login_index_path, method: :post, class: "login-form", html: { "data-form-target": "form" } do |form| %>
      <%= form.hidden_field :email, value: request.params['email'] %>

      <p>We&apos;ve sent you a temporary log-in code to <span><%= request.params['email'] %></span>. Please check your inbox to log in.</p>

      <%= form.label :one_time_password_1, "Log-in code", class: "label block" %>
      <div class="otp-code" data-controller="otp">
        <%= form.text_field :one_time_password_1, minlength: 1, maxlength: 1, class: "input block", inputmode: "numeric", pattern: "[0-9]", autocomplete: "one-time-code", required: true %>
        <%= form.text_field :one_time_password_2, minlength: 1, maxlength: 1, class: "input block", inputmode: "numeric", pattern: "[0-9]", autocomplete: "one-time-code", required: true %>
        <%= form.text_field :one_time_password_3, minlength: 1, maxlength: 1, class: "input block", inputmode: "numeric", pattern: "[0-9]", autocomplete: "one-time-code", required: true %>
        <%= form.text_field :one_time_password_4, minlength: 1, maxlength: 1, class: "input block", inputmode: "numeric", pattern: "[0-9]", autocomplete: "one-time-code", required: true %>
        <%= form.text_field :one_time_password_5, minlength: 1, maxlength: 1, class: "input block", inputmode: "numeric", pattern: "[0-9]", autocomplete: "one-time-code", required: true %>
        <%= form.text_field :one_time_password_6, minlength: 1, maxlength: 1, class: "input block", inputmode: "numeric", pattern: "[0-9]", autocomplete: "one-time-code", required: true %>
      </div>

      <%= render "shared/flash" %>

      <div class="submit">
        <%= form.submit "[Log In]", class: "link primary", "data-form-target": "submit" %>
      </div>
    <% end %>
  </div>
</main>
