<% table_class = local_assigns.fetch(:table_class, nil) %>

<div class="<%= class_names('queries-table', table_class) %>" data-controller="table">
  <table class="collapsible">
    <tr>
      <th data-query-library-column-key="name" <%= 'hidden' unless visible_columns.include?('name') %>><%= I18n.t('app.workspaces.queries.index.columns.name') %></th>
      <th data-query-library-column-key="data_source" <%= 'hidden' unless visible_columns.include?('data_source') %>><%= I18n.t('app.workspaces.queries.index.columns.data_source') %></th>
      <th data-query-library-column-key="original_author" <%= 'hidden' unless visible_columns.include?('original_author') %>><%= I18n.t('app.workspaces.queries.index.columns.original_author') %></th>
      <th data-query-library-column-key="date_created" <%= 'hidden' unless visible_columns.include?('date_created') %>><%= I18n.t('app.workspaces.queries.index.columns.date_created') %></th>
      <th data-query-library-column-key="last_updated" <%= 'hidden' unless visible_columns.include?('last_updated') %>><%= I18n.t('app.workspaces.queries.index.columns.last_updated') %></th>
      <th data-query-library-column-key="last_updated_by" <%= 'hidden' unless visible_columns.include?('last_updated_by') %>><%= I18n.t('app.workspaces.queries.index.columns.last_updated_by') %></th>
      <th data-query-library-column-key="last_run" <%= 'hidden' unless visible_columns.include?('last_run') %>><%= I18n.t('app.workspaces.queries.index.columns.last_run') %></th>
      <th class="options"></th>
    </tr>
    <% queries.each do |query| %>
      <tr>
        <td data-query-library-column-key="name" <%= 'hidden' unless visible_columns.include?('name') %>>
          <%= link_to app_workspace_data_source_query_path(workspace, query.data_source, query), class: "link name cream-250", "aria-label": "View the #{query.name} query" do %>
            <%= query.name %>
          <% end %>
        </td>
        <td data-query-library-column-key="data_source" <%= 'hidden' unless visible_columns.include?('data_source') %>><%= query.data_source.display_name %></td>
        <td data-query-library-column-key="original_author" <%= 'hidden' unless visible_columns.include?('original_author') %>><%= query.author.full_name %></td>
        <td data-query-library-column-key="date_created" <%= 'hidden' unless visible_columns.include?('date_created') %>><%= query.created_at.strftime('%a, %e %b %Y') %></td>
        <td data-query-library-column-key="last_updated" <%= 'hidden' unless visible_columns.include?('last_updated') %>><%= query.updated_at.strftime('%a, %e %b %Y') %></td>
        <td data-query-library-column-key="last_updated_by" <%= 'hidden' unless visible_columns.include?('last_updated_by') %>><%= query.last_updated_by&.full_name || '-' %></td>
        <td data-query-library-column-key="last_run" <%= 'hidden' unless visible_columns.include?('last_run') %>><%= query.last_run_at&.strftime('%a, %e %b %Y') || '-' %></td>
        <td class="options">
          <button type="button" class="toggle-options" data-action="table#toggleOptions" aria-label="Open query actions for <%= query.name %>">
            <i class="ri-more-2-fill ri-xl gray-250"></i>
          </button>
          <div class="dropdown-options context">
            <%= link_to I18n.t('common.actions.open'), app_workspace_data_source_query_path(workspace, query.data_source, query), class: "link", "aria-label": "View the #{query.name} query" %>
            <% if can_destroy_query?(workspace:, query:) %>
              <%= link_to I18n.t('common.actions.delete'), app_workspace_data_source_query_path(workspace, query.data_source, query), class: "link", data: { turbo_method: :delete }, "aria-label": "Delete the #{query.name} query" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
