<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sqlbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body class="<%= body_class %>" data-controller="body">
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>

  <% if Rails.env.production? %>
    <% websocket_protocol = Rails.application.config.x.app_protocol == 'https' ? 'wss' : 'ws' %>
    <script>
      (function(s,q,l,b,o,o,k){
        s._sbSettings={
          uuid:'bed83e20-67d2-4dad-a7ef-6199c86845e8',
          websocketUrl:'<%= "#{websocket_protocol}://#{Rails.application.config.x.app_host}/events/in" %>'
        };
        e=q.getElementsByTagName('head')[0];
        a=q.createElement('script');
        a.src=l+s._sbSettings.uuid;
        e.appendChild(a);
      })(window,document,'<%= "#{Rails.application.config.x.app_protocol}://#{Rails.application.config.x.app_host}/assets/script.js?" %>');
    </script>
  <% end %>
</html>
