<main>
  <% can_write_dashboards = can_write_dashboards?(workspace: @workspace) %>
  <% can_destroy_dashboards = can_destroy_dashboards?(workspace: @workspace) %>

  <% if @dashboards.empty? %>
    <h1>Dashboards</h1>
    <p>Any dashboards you&apos;ve created will be available here.</p>

    <% if can_write_dashboards %>
      <%= link_to "[Create New Dashboard]", new_app_workspace_dashboard_path(@workspace), class: "link primary", "data-shortcut": "N", "aria-label": "Create new dashboard" %>
    <% end %>
  <% else %>
    <div class="page-header">
      <div class="title">
        <h1>Dashboards</h1>
        <% if can_write_dashboards %>
          <%= link_to new_app_workspace_dashboard_path(@workspace), class: "link secondary create-dashboard", "data-shortcut": "N", "aria-label": "Create new dashboard" do %>
            <i class="ri-add-line red-500"></i>
            <span>Create New</span>
          <% end %>
        <% end %>
      </div>
      <div class="controls" data-controller="search">
        <%= form_with url: app_workspace_dashboards_path(@workspace), method: :get, html: { "data-search-target": "form" } do |form| %>
          <%= form.text_field :search, type: "search", placeholder: "Search...", value: params[:search], class: "input block search", "data-action": "search#change" %>
        <% end %>
      </div>
    </div>

    <div class="dashboards-table" data-controller="table">
      <table class="collapsible">
        <tr>
          <th>Name</th>
          <th>Created by</th>
          <th>Date created</th>
          <th>Last updated</th>
          <th class="options"></th>
        </tr>
        <% @dashboards.each do |dashboard| %>
          <tr>
            <td>
              <%= link_to app_workspace_dashboard_path(@workspace, dashboard), class: "link name cream-250", "aria-label": "View the #{dashboard.name} dashboard" do %>
                <%= dashboard.name %>
              <% end %>
            </td>
            <td><%= dashboard.author.full_name %></td>
            <td><%= dashboard.created_at.strftime('%a, %e %b %Y') %></td>
            <td><%= dashboard.updated_at.strftime('%a, %e %b %Y') %></td>
            <td class="options" >
              <button class="toggle-options" data-action="table#toggleOptions">
                <i class="ri-more-2-fill ri-xl gray-250"></i>
              </button>
              <div class="dropdown-options context">
                <%= link_to "Open", app_workspace_dashboard_path(@workspace, dashboard), class: "link", "aria-label": "View the #{dashboard.name} dashboard" %>
                <% if can_destroy_dashboards %>
                  <%= link_to "Delete", app_workspace_dashboard_path(@workspace, dashboard), class: "link", data: { turbo_method: :delete }, "aria-label": "Delete the #{dashboard.name} dashboard" %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</main>
